.ls{
    background: #001030;
    color: white;
    height: 75vh;
}

.ls-top{
    padding: 1.25rem;
}   
.ls-nav{
    display: flex;
    
    justify-content: space-between;
    align-items: center;
}

.ls-nav .logo{
    max-width: 8.75rem;
}

.ls-nav .menu img{
    height: 1.25rem;
    opacity: 0.6;
    cursor: pointer;
}

.ls-search{
    
    background : #002670;
    display: flex;
    align-items: center;
    gap: .625rem;
    padding: .625rem 1.25rem;
    margin-top: 1.25rem;
}

.ls-search img{
    width: 1rem;
}
.ls-search input{
    background: transparent;
    outline: none;
    color: white;
    flex: 1;
    border-radius: 0.3rem;
    font-size: .6875rem;
    border: none;
    padding: 0.25rem 0.75rem 0.25rem 0.75rem;
}
.ls-search input::placeholder{
    color: white;
}

.ls-list{
    display: flex;
    flex-direction: column;
    height: 70%;
    overflow-y: scroll;
}

.friends img{
    width: 2.1875rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.friends{
    display: flex;
    align-items: center;
    gap: .625rem;
    padding: .625rem 1.25rem;
    cursor: pointer;
    font-size: .8125rem;
}

.list-info{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.list-info span{
    color: #9f9f9f;
    font-size: .6875rem;
}

.friends:hover{
    background-color: #077EFF;
}

.friends:hover span{
    color: white;
}

.ls-nav .menu{
    position: relative;
    padding: .625rem 0rem;
}

.menu .sub-menu{
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 8.125rem;
    padding: 1.25rem;
    border-radius: .3125rem;
    background-color: white;
    color: black;
}

.sub-menu hr{
    border: none;
    height: .0625rem;
    background: #a4a4a4;
    margin: .5rem 0rem;
}
.sub-menu p{
    cursor: pointer;
    font-size: .875rem;
}

.menu:hover .sub-menu{
    display: block;
}
.friends.border img{
    border: 3px solid #07fff3;
}
.friends.border div span {
    color: #07fff3;
}



@media (max-width : 900px){
    .ls{
        width: 100%;
    }
    
}