.chat{
    min-height: 100vh;
    background : linear-gradient(#596AFF ,#383699);
    display: grid;
    place-items: center;
    padding: 0;
}

.chat-container{
    width: 75%;
    height: 75vh;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.loading{
    font-size: 3.125rem;
    color:white;
}

@media (max-width : 900px) {
    .chat-container{
        display: flex;
    }
    .loading{
        font-size: 1.875rem;
    }
}

@media (max-width : 700px){
    
    .chat-container{
        width: 90%;
        
    }
}